@use 'reset';
@use 'fonts';
// @import "~bootstrap/scss/bootstrap";

.fade_out{
    display: none;
}

.fade_in{
    display: block;
}
p {
    text-transform: uppercase;
    font-weight: 900;
    margin: 10px auto;
    font: 900 14px Comfortaa;
}
input{
    width: 100%;
    padding: 5px;
    color: rgb(19, 19, 19);
    max-width: 250px;
    margin: 5px auto;
    font: 400 14px Comfortaa;
    border: 0px solid;
    background-color: rgba(121, 120, 118, 0.13);
}
button{
    width: 100%;
    max-width: 210px;
    padding: 5px;
    color: rgb(19, 19, 19);
    cursor: pointer;
    margin: 5px;
    text-transform: uppercase;
    font: 900 14px Comfortaa;
    border-radius: 5px;
    border: 0px solid;
    background-color:#a5a5a573;
    transition: .5s all ease-in-out;

    &:hover{
        background-color: #fff;
        box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    }
}

.wrapper_auth{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 60px;
}
.register_form,
.autorization_form{
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    border-radius: 15px;
    text-align: center;
}
.register_form{
    display: none;
    justify-content: center;
    flex-flow: column;
    margin: 20px auto;
}
.autorization_form{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 20px auto;
}
.button_wrapper{
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    margin-top: 3px;
    align-items: center;
}
.alert_txt {
    font: 900 12px Comfortaa;
    color: rgb(46, 46, 46);
    animation: 1s ease-in-out infinite red_bg ;
    width: 100%;
    padding: 5px;
    display: none;
    border-radius: 10px;
}
@keyframes red_bg {
    0% {
        background-color: transparent;
    } 
    50% {
        background-color: rgba(255, 0, 0, 0.267);
    }
    100% {
        background-color: transparent;
    }
}
.confirmed_person{
    background: rgba(3, 160, 24, 0.658);
    width: 100%;
    padding: 5px;
    display: none;
    border-radius: 10px;
}